* {
    font-family: cursive;
    
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-5/mec443.cur), auto !important;
}


body {
    background-image: url(/assets/images/starynight.gif);
    
}



#navigation {
    list-style-image: url(/assets/images/listitemrezise.gif);
    font-weight: bold;
    background-color: darkblue;
    
}

#main {
    color: white;
    font-weight: bold;
    
}

#bottom {
    padding: 20px;
    margin-top: 20px;
    border-width: 40px;
    border-image: url(/assets/images/border.png) 30% repeat;
    border-style: outset;
    list-style-image: url(/assets/images/ramen64x64.gif);
    list-style-position: outside;
    background-image: url(/assets/images/glittergeist.gif);
}

#commits {
    padding: 2px;
    border-width: 40px;
    border-image: url(/assets/images/border.png) 30% repeat;
    border-style: outset;
    
    

    background-color: rgb(53, 49, 49);
    color: wheat;

    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
    cursor: grab;
}


.borderDiv {
    
    padding: 2px;
    border-width: 40px;
    border-image: url(/assets/images/border.png) 30% repeat;
    border-style: outset;
    margin-top: 20px;

    background-color: rgb(0, 0, 0);
    
    
}



#password {
    color: transparent;
}

#password:hover {
    background-color: black;
    color: yellow;
    font-size: large;
    cursor: url(https://cur.cursors-4u.net/anime/ani-6/ani549.cur), auto !important;}

#terminal {
    
    
    border-color: black;
    border-style: solid;
    border-style: inherit;
    font-size: 15px;
    
    
}

#info {
    background-color: darkblue;
    
}

#info:hover {
    background-color: red;
    cursor: url(https://cur.cursors-4u.net/games/gam-9/gam858.ani), url(https://cur.cursors-4u.net/games/gam-9/gam858.png), auto !important;
}


#intro:hover {
    background-color: red;
}


.musicbuttons button {
    display: block;
    float: right;
    
}


.assetlib {
    padding: 1px;
    border-width: 40px;
    border-image: url(/assets/images/terminal.png) 30% repeat;
    border-style: outset;
    background-color: darkblue;
}


#social-links {
    background-color: blue;
    position: sticky;
}
